* {
  margin: 0;
  padding: 0;
}

body {
  height: fit-content;
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.7);
}

.main-logo {
  height: 50px;
  width: auto;
  margin-right: 70px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .nav-link {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }
}

/* Header */
header {
  min-height: 100vh;
  background-image: url("assets/main-bg.jpg");
  background-size: cover;
  background-position: center;
}

.judul-page1 {
  color: white;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 20px;
  font-size: 80px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

.teks-page1 {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.scroll-down {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  align-items: center;
}

.text-scroll {
  margin-top: 80px;
}

.btn-theme {
  background-color: rgb(221, 161, 50);
  color: black;
  font-size: 15px;
  padding: 5px 50px;
  margin-top: 20px;
}

.btn-theme:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}

.play-now {
  margin-left: 250px;
}

/* Game Choice */
.game-choice {
  min-height: 100vh;
  width: 100%;
  background-image: url("assets/the-games-bg.jpg");
  background-size: cover;
  display: flex;
  margin: auto;
  padding-top: 100px;
}

.switchleft {
  margin-top: 100px;
}

.switchright {
  margin-top: 100px;
}

/* Features */
.features {
  min-height: 100vh;
  width: 100%;
  background-image: url("assets/features.jpg");
  background-size: cover;
  display: flex;
  margin: auto;
  padding-top: 100px;
}

.teks-page3-2 {
  color: rgb(232, 248, 11);
  margin-top: 20px;
}

.teks-page3-4 {
  color: rgb(232, 248, 11);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* System Requirements */
.system-requirements {
  min-height: 120vh;
  width: 100%;
  background-image: url("assets/requirements.png");
  background-size: cover;
  background-position: center;
  display: flex;
  margin: auto;
  padding: 100px;
}

.subjudul-page4 {
  margin-top: 20px;
}

/* Top Score */
.top-score {
  min-height: 100vh;
  width: 100%;
  background-image: url("assets/top-score-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  margin: auto;
  padding-top: 100px;
}

.card {
  height: 200px;
  padding: 40px;
  color: white;
  line-height: 15px;
  box-sizing: border-box;
  background: rgba(54, 52, 52, 0.7);
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile img {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
}

h6 {
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

/* Newsletter */
.newsletter {
  min-height: 100vh;
  width: 100%;
  background-image: url("assets/newsletter.png");
  background-size: cover;
  background-position: center;
  padding-left: 150px;
  display: flex;
  margin: auto;
  padding-top: 100px;
}

.form-floating {
  background-color: rgb(34, 32, 32);
}

.your-email {
  color: white;
}

/* Footer */
footer {
  position: relative;
  min-height: auto;
  width: 100%;
  background-image: url("assets/newsletter.png");
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.footer-content hr {
  width: 1200px;
  border-top: 3px solid #999;
}

footer .socials,
footer .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .socials li,
footer .menu li {
  list-style: none;
}

footer .socials li a {
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .socials li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

.footer-bottom {
  width: 100vw;
  padding: 20px 0;
  text-align: start;
  margin-left: 150px;
}

.menu-bottom {
  margin-right: 200px;
}
